@model IEnumerable<Vroom_Project.ViewModels.RenewalViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutBank.cshtml";
}

<h1>Renewal Account Details</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th> 
            <th>
                @Html.DisplayNameFor(model => model.RenewalDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RenewalDate)
            </td>
            <td>
                    <a asp-action="ListOfRenewal" asp-route-id="@item.Id" class=" btn btn-primary">Edit</a> 
                <a asp-action="Delete" asp-route-id="@item.Id" class=" btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
